# Environment variables
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.iml

# Maven
target/
target copy/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Next.js
frontend/.next/
frontend/out/
frontend/node_modules/

# OS
.DS_Store
Thumbs.db
